html {
  font-family: 'Inter', sans-serif;
}

body{
    background-color: #f3f4f6;
}

.navBar {
  background-color: white;
  color: gray;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
}

.navBar span {
  margin: 0% 2% 0% 2%;
  cursor: pointer;
}

.logoContainer{
    display: flex;
    align-items: center;
}

.logoBackground {
  background-color: #6f00ea;
  width: 50px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  color: white;
  font-size: 30px;
}

.logoName{
    color:black;
    font-weight: 600;
    margin-left: 5px;
}

.textPurpleBold {
  color: #6f00ea;
  font-weight: 600;
}

.navBarSelected{
    color: black;
    font-weight: 600;
}

.username{
    margin-right: 5%;
}

.titleContainer{
    margin-left: 50px;
    margin-top: 40px;
}

.textGray{
    color: gray;
}

.dashboardCardContainer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 25px;
    margin: 40px 50px 40px 50px;
}

.dashboardCard{
    background-color: white;
    width: 200px;
    height: 125px;
    border-radius: 8px;
    color: black;
    font-size: 20px;
    flex: 1;
    text-transform: uppercase;
    color: grey;
    font-size: 14px;
    font-weight: 500;
}

.dashboardCard:hover{
    background-color: #e5e7eb;
    cursor: pointer;
}

.dashboardCardText{
    display: inline-block;
    padding: 10px 10px 0px 10px;
}

.dashboardCardNumber{
    color: black;
    padding: 10px;
    font-size: 24px;
    font-weight: 600;
}

.gridAdmin{
    display: grid;
    grid-template-columns: 8fr 3fr;
    gap: 40px;
    margin: 20px 50px 500px 50px;
}

.gridAdminUserHeader{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.gridAdminUserHeader span{
    color: #6f00ea;
    font-weight: 600;
    font-size: 14px;
}

.gridAdminUserHeader span:hover{
    cursor: pointer;
}

.gridAdminUserActivity{
    background-color: white;
    height: 440px;
    border-radius: 8px;
    padding: 20px;
    grid-row: span 2;
}

.gridAdminUserActivityInfo{
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    margin-bottom: 20px;
    margin-left: 15px;
}

.gridUserActivityAvatar{
    background-color: #f3f4f6;
    color: gray;
    font-weight: 600;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.gridUserActivityName{
    margin: 0;
}

.gridUserActivityEmail{
    color: gray;
    font-size: 12px;
}

.gridUserActivityCredits{
    margin: 0;
    font-weight: 500;
    color: #6f00ea;
    font-size: 14px;
}

.gridUserActivityLastUpdate{
    color: gray;
    font-size: 12px;
}

.gridAdminCredits{
    background-color: #6f00ea;
    height: 200px;
    border-radius: 8px;
    padding: 20px;
}

.gridAdminCredits h5{
    color: white;
}

.gridAdminCredits p{
    color: white;
    font-size: 14px;
    margin-bottom: 40px;
}

.gridAdminCredits button{
    color: #6f00ea;
    font-weight: 500;
}

.gridAdminCredits button:hover{
    color: #6f00ea;
    cursor: pointer;
}

.gridAdminSubscriptions{
    background-color: white;
    height: 200px;
    border-radius: 8px;
    padding: 20px;
}

.gridAdminSubscriptions p{
    color: gray;
    font-size: 14px;
    margin-bottom: 40px;
}

.gridAdminSubscriptions button{
    color: #6f00ea;
    font-weight: 500;
    border-color: #6f00ea;
    background-color: white;
}

.gridAdminSubscriptions button:hover{
    color: white;
    background-color: #6f00ea;
    cursor: pointer;
}